.buttonComponent{

    font: normal 500 1.4rem/2rem 'Noto Sans JP';
    text-align: center;
    
    cursor: pointer;
    border-radius: 0.6rem;

    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &--variant-default{

        padding: 0.8rem 1.6rem;
        color: #3F3F3F;
        background: #E0E0E0;
        box-shadow: 0rem 0.2rem 0.3rem rgba(51, 51, 51, 0.2);
        &:hover,&:focus{
            background: #AEAEAE;
        }
        &:disabled{
            background: #E0E0E0;
            border-radius: 6px;
            color: #9E9E9E;
            cursor:default;
        }     
    }

    &--variant-outline{
        padding: 0.8rem 2rem;

        color: #3D5AFE;
        border: 1px solid #3D5AFE;
        &:hover,&:focus{
            background: rgba(41, 98, 255, 0.1);
            border: 1px solid #3D5AFE;
        }
        &:disabled{
            background: #E0E0E0;
            border-radius: 6px;
            color: #9E9E9E;
            cursor:default;

        }
    }    

    &--variant-text{
        padding: 0.8rem 2rem;
        
        color: #3D5AFE;

        &:hover,&:focus{
            background: rgba(41, 98, 255, 0.1);
        }
        &:disabled{
            color: #9E9E9E;
            cursor:default;

            &:hover,&:focus{
                background: none;
            }
        }
    }



    &--disableShadow{
        box-shadow: none;
    }    


    
    &__endIcon,&__startIcon{
        font-size: inherit;
    }

    &__endIcon{
        margin-left: 1rem;
    }

    &__startIcon{
        margin-right: 1rem;
    }



    &--size-sm{
        padding: .6rem 1.2rem;
    }

    &--size-md{
        padding: .8rem 1.6rem;
    }
    &--size-lg{
        padding: 1.1rem 2.2rem;
    }



    &--color-default{
        color: #3F3F3F;
        background: #E0E0E0;
        box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
        &:hover,&:focus{
        background: #AEAEAE;
        
        }
    }

    &--color-primary{
        color: #FFFFFF;
        background: #2962FF;
        box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
        &:hover,&:focus{            
            background: #0039CB;
        }
    }

    &--color-secondary{
        color: #FFFFFF;
        background: #455A64;
        box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
        &:hover,&:focus{
            background: #1C313A;
        }
    }

    &--color-danger{
        color: #FFFFFF;
        background: #D32F2F;
        box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
        &:hover,&:focus{
            background: #9A0007;
        }
    }
}